<h1>Careers</h1>
<h2>Join us to change the world.</h2>
<p>
        Social Menu is still in stealth mode. Although it is not quite known, we have strong faith that it will make a big change for people's life.Our mission is to connect people through their common interests -- Food.<br><br>
        Every day, people will use Social Menu to discover new great food,
        make friends, and make reservation. Social Menu will be adopted and loved by millions of regular people!
</p>

<h2>Work & Benefits</h2>

<p>
        Our team is samll which has only one person -- myself. But I belive it will grow.  I think passion and hardwork will lead to success.<br><br>
        If you have passion about changing the world with great mind,please join me to make it happen. Email me at info@bellasmenu.com to start your help here.<br><br>
        I love to make friends and build things together with people.You won't get paid for now, but I am sure you will get great benefit in the future!
    </p>