{% extends "profile_base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}Menus for {{ username }}{% endblock %}
{% block external %}
<script type="text/javascript" src="/site_media/editprofile.js"></script>
{% endblock %}
{% block content %}
    {% include "user_header.html" %}
    <div class="FixedContainer">
        <form accept-charset="utf-8" method="POST" action="" class="Form StaticForm" id="profileEdit">
          {% csrf_token %}
          <h3>Change Password</h3>
            <ul>
                <li>
                    <label for="id_old_password">Old</label>
                    <div class="Right">
                    	{{form.old_password.errors}}
                        {{form.old_password}}
                        <span class="help_text">Your current password ·<a tabindex="-1" href="/password/reset/">Reset Password</a></span>
                        <span class="help_text"></span>
                    </div>
                </li>

                <li>
                    <label for="id_new_password1">New</label>
                    <div class="Right">
                        {{form.new_password1.errors}}
                        {{form.new_password1}}
                        <span class="help_text">Be tricky!</span>
                        <span class="help_text"></span>
                    </div>
                </li>

                <li>
                    <label for="id_new_password2">New, Again</label>
                    <div class="Right">
                        
                        {{form.new_password2.errors}}
                        {{form.new_password2}}
                        <span class="help_text">Confirm password</span>
                    </div>
                </li>

            </ul>

            <div class="Submit">
                <button type="submit" class="Button RedButton Button24">
                    Change Password
                </button>
            </div>
        </form>
    </div>
{% endblock %}
