<h1>Social Menu Etiquette</h1>

<h2>Social Menu is special because of the people who use it.</h2>
<p>The guidelines below are based on collective input from people using Pinterest. These are suggestions to help keep our community positive and to ensure that every pin is useful to other people.</p>

<div class="point">
    <img class="bullet" alt="1" src="http://passets-lt.pinterest.com/images/about/BulletRed01.png">
    <h3>Be Respectful</h3>
    <p>Social Menu is a community of people. We know that individual tastes are personal, but please be respectful in your comments and conversations.</p>
</div>

<div class="point">
    <img class="bullet" alt="2" src="http://passets-ec.pinterest.com/images/about/BulletRed02.png">
    <h3>Be Authentic</h3>
    <p>Social Menu is an expression of who you are. We think being authentic to who you are is more important than getting lots of followers. Being authentic will make Pinterest a better place long-term.</p>
</div>

<div class="point">
    <img class="bullet" alt="3" src="http://passets-ec.pinterest.com/images/about/BulletRed03.png">
    <h3>Credit Your Sources</h3>
    <p>Menus are the most useful when they have links back to the original source. If you notice that a menu is not sourced correctly, leave a comment so the original uploader can update the source. Finding the original source is always preferable to a secondary source such as Image Search or a blog entry.</p>
</div>

<div class="point">
    <img class="bullet" alt="4" src="http://passets-ec.pinterest.com/images/about/BulletRed04.png">
    <h3>Report Objectionable Content</h3>
    <p>We do not allow nudity, hateful content, or content that encourages people to hurt themselves. If you find content that violates our <a href="/about/terms/">Terms of Service</a> or <a href="/about/use/">Acceptable Use Policy</a> you can submit the content for review by pushing the ”Report Content“ link.</p>
</div>

<div class="point">
    <img class="bullet" alt="5" src="http://passets-ec.pinterest.com/images/about/BulletRed05.png">
    <h3>Tell Us How to Make Social Menu Better</h3>
    <p>We're just getting started, so there are going to be bumps here and there. Let us know what's working, what's not. Even though we don't always have time to respond to each and every email, we take your input seriously. You can get in touch with us anytime at <a href="http://bellasmenu.com/about/support">http://bellasmenu.com/about/support</a>.</p>
</div>
