<div class="modal wide PostSuccess" style="display: none;">
    <div style="text-align: left;" class="header lg">
        <h2><a onclick="RepinDialog.reset(); return false" class="close" href="#"><strong>Close</strong><span></span></a>Take It</h2>
    </div>
    Takek it to <span><a class="BoardLink" href="/{{user.username}}/catagory/{{menu.catagory.catagoryName}}/">{{menu.catagory.catagoryName}}</a></span>.
    <br>Shared with your followers. <a class="PinLink" href="/menu/{{menu.id}}/">See it now</a>.
    <div style="display:none" class="suggestion">
        <h4 class="colorless">Also pinned to:</h4>
        <div class="boardHolder"></div>
    </div>
</div><!-- .modal.wide.PostSuccess -->