<script type="text/javascript" src="/site_media/jquery.js"></script>
<script type="text/javascript" src="/site_media/search.js"></script>
<link rel="stylesheet" href="/site_media/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="/site_media/jquery.bgiframe.min.js"> </script>
<script type="text/javascript" src="/site_media/jquery.autocomplete.js"> </script>
<script type="text/javascript" src="/site_media/tag_autocomplete.js"> </script>
<div id="Search">
	<form id="searchform" class="text" method="GET" action="/search/">
		
		<input id="query" name="query" class="ui-autocomplete-input default_value placeholder" placeholder="Search" type="text"  value="" size="27" role="textbox" />
		<a id="search_button" class="lg" > <img alt="" src="/site_media/images/search.gif"> </a>
	</form>
</div>