<h1>Team</h1>
<h2>We build Social Menu</h2>
<p>Social Menu is built by a small team -- currently just me in San Jose, California. We’re striving to build a community that people love. If you’re interested in joining us, <a href="/about/careers/">see our careers page</a>.</p>
<p>My name is Huang Xia and I am a self-inspired Software developer in Silicon Valley focusing on web development and cloud computing. With the strong interest and passion to technology, I devote my leisure time to build things which can help the community.This website is build with Python,Django,Mysql,Redis,Jquery and some other open source.I am striving to utilize the most advanced technologies to make this website a better one to serve the community.
   If you are interesed at my idea and want to join me, please send me an email xiahuang119@hotmail.com.</p>
