<div id="UnauthCallout">
	<div class="Nag">
		<div class="Sheet1 Sheet">
			<div>
				<!-- If FB-referred visitor -->
				<!--<a href="[[ MAGICAL ORIENTATION STEP 2 LINK ]]" class="Button RedButton Button18"><strong>Join Pinterest Today &raquo;</strong><span></span></a>-->
				<!-- Else if regular visitor -->
				<a class="Button RedButton Button18" href="/landing/"> <strong>Request an Invite »</strong><span></span></a>
				<a class="Button WhiteButton Button18" href="/login"> <strong>Login</strong><span></span></a>
			</div>
			<p>
				<strong>Social Menu is an online community.</strong>
				<br>
				Find the food you love.
			</p>
		</div>
		<div class="Sheet2 Sheet"></div>
		<div class="Sheet3 Sheet"></div>
	</div>
	<div class="NagSpacer" style="height: 81px;"></div>
</div>