<h1>What is Social Menu?</h1>

    <h2>SocialMenu -- find your loved food.</h2>
    <p>SocialMenu lets you organize and share all the good food you have tasted. People use social menu to find good food, recommend good food, and make reservation with prepared menus online.</p>
    <p>
      Best of all, you can browse menus created by other people. Browsing menus is a fun way to discover good food around you and get inspiration from people who share the same taste with you. To get started, <a href="http://www.bellasmenu.com">request an invite</a>.
    </p>

    <h2>What Can You Do with Social Menu?</h2>
    <div class="example small">
        <a class="BoardThumb" href="http://pinterest.com/ohjoy/la-home/"><img alt="" src="http://passets-ec.pinterest.com/images/about/BoardJoy.png"></a>
        <div class="BoardDesc">
            <h3>Share Food You Love!</h3>
            <p>With a simple click on our Mobild App. You let your friends know what great food you have discoverd.</p>
        </div>
    </div>
    <div class="example left small">
        <a class="BoardThumb" href="http://pinterest.com/ben/so-it-turns-out-i-m-going-to-get-married"><img alt="" src="http://passets-ec.pinterest.com/images/about/BoardBen.png"></a>
        <div class="BoardDesc">
            <h3>Discover Good Food!</h3>
            <p>Tired of food you have been eating routinely. See what your friends have discovered and try new stuff to make you happy.</p>
        </div>
    </div>
    <div class="example small">
        <a class="BoardThumb" href="http://pinterest.com/timbaker/men-s-style-pinboard/"><img alt="" src="http://passets-ec.pinterest.com/images/about/BoardTim.png"></a>
        <div class="BoardDesc">
            <h3>Showcase Your Receipe!</h3>
            <p>Are you a good cook? Share your receipe with your friends and let them to make a judge.</p>
        </div>
    </div>
    <div class="example left small">
        <a class="BoardThumb" href="http://pinterest.com/shashashasha/mapping/"><img alt="" src="http://passets-ec.pinterest.com/images/about/BoardSha.png"></a>
        <div class="BoardDesc">
            <h3>Plan menus when eating out!</h3>
            <p>Want to invite your friends to a restaurant? Get the menus in advance and let your friends choose their order prior to being the restaurant.</p>
        </div>
    </div>
    <div class="example small">
        <a class="BoardThumb" href="http://pinterest.com/jessicalenae/gluten-free-goodness/"><img alt="" src="http://passets-ec.pinterest.com/images/about/BoardJessica.png"></a>
        <div class="BoardDesc">
            <h3>Make Perfect Reservation!</h3>
            <p>With simple clicks, send the restaurant you plan to go the menus you created and the food will be ready when you are there.</p>
        </div>
    </div>

    <h2>Our Mission</h2>
    <p>
      Our goal is to connect everyone in the world through the 'Food' they loved. We think that great food is common link between two people. With millions of new menus added every week, Social Menu is connecting people all over the world based on shared tastes and interests.
    </p>
